extends ./layout

mixin Nav
	nav.navContainer
		a.text-center.logo(href='javascript:;', title='Timtam')
			| Timtam
		#logTagListContaienr

block bodyContainer
	+Nav
	
	#logContentListContainer
		.contentListContainer


	- importer.import('/css/home.css')

	