@import './constant'


.navContainer
	width $NAV_WIDTH
	position absolute
	left 0
	top 0
	bottom 0
	background-color #0c1719
	overflow-y auto
	-webkit-overflow-scrolling touch
	z-index 9
	a
		color #999
		display block
		white-space normal
	.logo
		font-size 125%
		letter-spacing 0.1em
		padding 0.5em 0.8em
		transition color 0.3s
		color #fff
		background-color #001217
		&:hover
			color #999
	ul
		margin 0
		padding 0
		list-style none
		line-height 40px
		text-indent 15px
		color #aaaeaf
		border-top 1px solid #333
		li
			border-left 3px solid #ddd
			a
				display block
			&.active
				border-color #ff474c
				background-color #001217
				a
					color $WHITE_COLOR