
.logBox
	.date
		font-size 16px
		text-align center
		color #FFD569
	.log
		margin 5px 0
		.time
			color #66D9EF
		.level
			margin 0 5px
			&.log
				color #A6E22E
			&.info
				color #529B2F
			&.warn
				color #FD971F
			&.error
				color #F92672
				