
.logBox
	.logFilter
		color #333
		border-bottom 1px solid #e5e5e5
		i
			font-size 16px
			width 14px
			margin 0 5px
			color #fff
		select, input, button
			margin 0 5px
		input[type='date'], input[type='time']
			padding 4px 0.5em
		select
			width 100px
		.divide
			padding 0 5px
			color #fff
			font-size 16px
			
	.date
		font-size 16px
		text-align center
		color #FFD569
	.log
		margin 5px 0
		.time
			color #66D9EF
		.level
			margin 0 5px
			&.log
				color #A6E22E
			&.info
				color #529B2F
			&.warn
				color #FD971F
			&.error
				color #F92672
				